---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';

import ConstruyendoConfianza from '../components/construyendo-confianza.astro'

import Formulario from '../components/formulario.astro';

---

<Layout title="Welcome to Astro.">
    <!-- componente -->
    <Header />

    <main>
        
        <Formulario/>

        <ConstruyendoConfianza />

    </main>

</Layout>



