---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Invertir from '../components/invertir.astro';
import ConstruyendoConfianza from '../components/construyendo-confianza.astro'
import Invita from '../components/invita.astro';
import Formulario from '../components/formulario.astro';
import Contacto from '../components/contacto.astro'

---

<Layout title="Bienvenido">
    <!-- componente -->
    <Header />

    <main>
        
        <Formulario/>

        <ConstruyendoConfianza />

        <Invertir />
        
        <Invita />

        <Contacto />

    </main>

</Layout>



