---
import TituloAmarillo from '../components/titulo-amarillo.astro'

---
<TituloAmarillo titulo="SEGUIMOS CONSTRUYENDO CONFIANZA" />
<section class="flex flex-col md:flex-row justify-center gap-5 p-5 max-w-screen-xl mx-auto">
            
    <iframe class="rounded-md w-[90%] mx-auto md:w-[35%] h-64 " src="https://www.youtube.com/embed/w_RPoWAYAf8?si=AcHj_wWlKXDh9qoS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <img class="w-[80%] md:w-[55%] mx-auto h-64" src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/UqDWmG0WIwSpO945bPZ9/media/666dbe1c375173adb5d9746e.jpeg" alt="">
    
    
</section>