---
import TituloAmarillo from '../components/titulo-amarillo.astro'

---
<TituloAmarillo titulo="SEGUIMOS CONSTRUYENDO CONFIANZA" />
<section class="flex flex-col md:flex-row justify-center gap-5 p-5 max-w-screen-xl mx-auto">
            
    <video class=" rounded-md  md:w-[35%]" controls autoplay muted>
        <source src="https://youtu.be/w_RPoWAYAf8?si=AcHj_wWlKXDh9qoS" type="video/m1p4">
        
    </video>
    
    <img class="md:w-[60%]" src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/UqDWmG0WIwSpO945bPZ9/media/666dbe1c375173adb5d9746e.jpeg" alt="">
    
    
</section>