---

---
<section class="py-5 bg-[#042f38] ">
    <div class="max-w-screen-md mx-auto flex flex-col md:flex-row justify-between">
        <iframe class="w-[90%] h-72 mx-auto md:hidden rounded-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.5356961333545!2d-79.1526054!3d-7.838863000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91072068667cccc9%3A0xbe1f0eee754411d!2sAu.%20Panamericana%20Nte.!5e0!3m2!1ses-419!2spe!4v1719010448504!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- Iframe para md: -->
        <iframe class="w-[50%] h-72  hidden md:block rounded-lg" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.5356961333545!2d-79.1526054!3d-7.838863000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91072068667cccc9%3A0xbe1f0eee754411d!2sAu.%20Panamericana%20Nte.!5e0!3m2!1ses-419!2spe!4v1719010448504!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="text-[#fff] font-bold flex flex-col gap-3 my-6 pr-1 pl-4 text-3xl md:text-2xl md:my-auto">
            <div class="flex flex-row mx-auto">
                <img width="35" height="35" src="https://img.icons8.com/fluency/96/location--v2.png" alt="location--v2"/>
                <p>Los Tumbos 135. Chiclayo</p>
            </div>
            <div class="flex flex-row mx-auto">
                <img width="35" height="35" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp--v1"/>
                <p>(+51) 966339240</p>
            </div>
            <div class="flex flex-row gap-10 mx-auto mt-9">
                <img width="35" height="35" src="https://img.icons8.com/clouds/100/facebook-new.png" alt="facebook-new"/>
                <img width="35" height="35" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new"/>
                <img width="35" height="35" src="https://img.icons8.com/ios-filled/50/tiktok--v1.png" alt="tiktok--v1"/>
                <img width="35" height="35" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play"/>
            </div>
        </div>
    </div>
</section>