---
import TituloAmarillo from "./titulo-amarillo.astro";
---

<TituloAmarillo titulo="¿POR QUÉ INVERTIR EN LAS PALMERAS DE CHOSICA?"/>
<section>
    <img class="mx-auto w-[90%]  py-8 max-w-screen-md" src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/UqDWmG0WIwSpO945bPZ9/media/666dbe1c4f0bc29b4ade4fdf.jpeg" alt="">
    <div class="bg-[#294d54] text-[#fff] mb-3 ">
        <p class="text-center p-6 text-2xl md:text-3xl font-bold">HABILITACIÓN URBANA N°009-2024 <br>
            <span class="font-mono">La Victoria - Chiclayo</span>
        </p>
    </div>
</section>