---
import TituloAmarillo from "./titulo-amarillo.astro"
---

<TituloAmarillo titulo="¿QUIÉN TE INVITA A LA SESIÓN?" />
<section class="max-w-screen-md mx-auto flex flex-col sm:flex-row py-5 justify-between">
    <img src="/invita.webp" alt="" class="h-80 hidden md:block">
    <img src="/invita.webp" alt="" class="mx-auto h-80 md:hidden">
    <div class=" my-auto text-[#042f38] ">
        <p class="text-center text-md  sm:text-sm  md:text-md font-bold pr-1 pl-4 ">
            <span class=" text-4xl sm:text-3xl">Margarita Carbonell</span> <br>
            Asesora Comercial de Palmeras de Chosica
        </p>
    </div>
</section>

<style>
    img{
        filter:drop-shadow(5px 5px 10px #f7a618); 
        
    }
</style>